In [1]:
import pandas as pd

In [17]:
cases = pd.read_csv('src/cases.csv',sep=';')
marks = pd.read_csv('src/marks.csv',sep=';')
diaries = pd.read_csv('src/diaries.csv',sep=';')

In [32]:
diaries[diaries['Номер поручения']==11000]

     Номер поручения   Герой Запись в дневнике Затрачено часов      Роль
0              11000  Мартин    разжечь костёр               1  рейнджер
1              11000  Мартин    выследить цель               6  следопыт
617            11000  Мартин    разжечь костёр               1    лучник

In [62]:
diaries[(diaries["Запись в дневнике"] == "разжечь костёр") & (diaries["Роль"] == "рейнджер")]

     Номер поручения       Герой Запись в дневнике Затрачено часов      Роль
0              11000      Мартин    разжечь костёр               1  рейнджер
2              11001     Альфред    разжечь костёр               1  рейнджер
7              11005       Агата    разжечь костёр               2  рейнджер
15             11013        Соня    разжечь костёр               1  рейнджер
16             11014    Пастушок    разжечь костёр               1  рейнджер
..               ...         ...               ...             ...       ...
610            11495  Синеглазый    разжечь костёр     0,666666667  рейнджер
612            11496        Юлия    разжечь костёр     0,666666667  рейнджер
614            11497    Пастушок    разжечь костёр               1  рейнджер
615            11498      Мартин    разжечь костёр               1  рейнджер
616            11499     Глюкоза    разжечь костёр               2  рейнджер

[115 rows x 5 columns]

In [44]:
diaries['Запись в дневнике'].unique()

array(['разжечь костёр', 'выследить цель', 'залечить раны',
       'найти пропажу', 'отыскать заказчика'], dtype=object)

In [40]:
marks

,Номер поручения,Герой,Оценка за качество,Оценка по срокам,Оценка за вежливость
0,11000,Мартин,4,3,4
1,11001,Альфред,5,5,4
2,11002,Мартин,5,4,4
3,11003,Бендер,2,4,3
4,11004,Юлия,4,4,5
...,...,...,...,...,...
495,11495,Синеглазый,3,4,4
496,11496,Юлия,3,3,4
497,11497,Пастушок,5,3,5
498,11498,Мартин,4,4,4
499,11499,Глюкоза,4,3,4